body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	height: 3em;
	padding: 0 .5em;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--separator-color);
}

header h1 {
	margin: 0;
	font-size: 2em;
}

main {
	display: flex;
	height: calc(100vh - 3em - 1px);
}

#workspace {
	width: calc(50vw - 1px);
	border-right: 1px solid var(--separator-color);
}

#toolbar {
	height: 6em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border-bottom: 1px solid var(--separator-color);
	font-size: .9em;
}

#toolbar > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#toolbar > div > * {
	margin-left: .5em;
	font-size: .9em;
}

#toolbar input {
	width: 50px;
}

#graph {
	height: calc(100vh - 9em - 2px);
}

#graph svg {
	width: 50vw;
	height: calc(100% - 4px);
}

#view {
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	position: relative;
}

#img {
	border: 2px solid yellow;
}
