:root {
	--background-color: #21252b;
	--foregroud-color: #282c34;
	--toolbar-color: #323844;
	--separator-color: #46494d;
	--font-color: #828d96;
}

body {
	background-color: var(--background-color);
	color: var(--font-color);
}

#toolbar {
	background-color: var(--toolbar-color);
}

/* inspired from https://stackoverflow.com/a/51054396/9515617 */
#view {
	--tint: rgba(128, 128, 128, 0.75);
	background-image:
		/* tint image */
			linear-gradient(to right, var(--tint), var(--tint)),
		/* checkered effect */
			linear-gradient(to right, black 50%, white 50%),
			linear-gradient(to bottom, black 50%, white 50%);

	background-blend-mode: normal, difference, normal;
	background-size: 40px 40px;
}
